# Python

__pycache__/
*.pyc
*.pyo
*.pth
.venv/
venv/

# Model file (too large for GitHub)
backend/plant_disease_model.pth
backend/plant_disease_model_fixed.pth

# Database
backend/users.db

# Environment variables
.env

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/
minor-project.ipynb

# OS
.DS_Store
Thumbs.db
auth/users.db
auth/users.db-shm
auth/users.db-wal
__pycache__/
*.pyc
